.header {
  display: flex;
  gap: 3rem;
  margin: 3rem auto;
  width: 90%;
  max-width: 75rem;
}

.link {
  color: #56b4e9;
  text-decoration: none;
  font-weight: normal;
}

.slideshow {
  width: 40rem;
  height: 25rem;
}

.hero {
  color: #ddd6cb;
  font-size: 1.5rem;
}

.hero h1 {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  background: linear-gradient(90deg, #0072b2, #56b4e9);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.cta {
  font-size: 1.5rem;
  display: flex;
  gap: 1rem;
}

.cta a {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: linear-gradient(90deg, #0072b2, #56b4e9);
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

.cta a:hover,
.cta a:active {
  background: linear-gradient(90deg, #0072b2, #99d2f1);
}

.cta a:first-child {
  background: transparent;
  font-weight: normal;
  color: #56b4e9;
  padding-left: 0;
}

.cta a:nth-of-type(2) {
  height: 100%;
  text-align: center;
}

.cta a:first-child:hover,
.cta a:first-child:active {
  background: transparent;
  color: #99d2f1;
}

.section {
  display: flex;
  flex-direction: column;
  color: #ddd6cb;
  font-size: 1.5rem;
  max-width: 50rem;
  width: 90%;
  margin: 2rem auto;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  color: #ddd6cb;
  font-size: 1.5rem;
  max-width: 50rem;
  width: 90%;
  margin: 2rem auto;
  text-align: center;
}

.frame {
  width: 100%; /* Make the width responsive */
  height: 80vh; /* Make the height take the full viewport */
  border: none; /* Remove any default border */
}

.iframeContainer embed {
  width: 100%;
  height: 100%;
  border: none;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.iframeContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center; /* Center iframe horizontally */
  align-items: center; /* Center iframe vertically */
}

.iframe {
  width: 100%;
  height: 700px; /* Use viewport height */
  border: none;
  overflow: hidden; /* Hide any overflow */
  zoom: 1; /* Ensure the zoom level is set */
  page: 1;
}

@media (max-width: 1024px) {
  .slideshow img {
    width: 100px;
    height: auto;
  }

  .slideshow {
    height: auto;
  }

  .hero {
    margin-left: 3rem;
  }
  .header {
    max-width: 80%;
    gap: 0;
    margin-bottom: 0;
    margin-top: 1rem;
  }
  .hero h1 {
    font-size: 1.5rem; /* Adjust font size for better readability */
  }

  .hero p {
    font-size: 0.875rem; /* Reduce font size */
    margin-bottom: 0; /* Adjust margin to fit better */
  }
  .section h2 {
    font-size: 1.25rem;
  }
  .section p {
    font-size: 0.875rem;
  }
  h2.section {
    font-size: 1.25rem; /* Slightly smaller for smaller screens */
  }

  p.section {
    font-size: 1rem;
  }

  .section {
    margin-top: 2rem;
    width: 80%;
  }

  .cta {
    font-size: 1rem;
  }
  .iframe {
    width: 100%;
    height: auto;
  }
  /* .iframe {
    height: 300%;
    zoom: 1; 
    page: 1;
  } */

  .iframeContainer {
    height: 300%;
  }
}
