.card {
    display: flex;
    justify-content: space-between;
    height:100%;
    background: linear-gradient(90deg, #0072b2, #56b4e9);
    align-items: center;
    position: relative;
    border-radius: 4px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    color: #282c34;
    height: 325px;
    width: 325px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    /* overflow: hidden; */
    transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
    transform-style: preserve-3d;
    flex-direction: column;
}

.card:hover{
    --translate-y: -2px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
    transform-style: preserve-3d;
}

.card.flip {
    --rotate-y: 180deg;
    transform-style: preserve-3d;
}

.card .front,
.card .back {
    position: absolute;
    padding: 1rem;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.card .back {
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    position: absolute;
    padding: 1rem;
    /* backface-visibility: hidden; */
}

.flipText {
    text-align: right;
    font-size: 1.3rem;
  }

.headerText {
    padding: -0.5rem;
  }
  
  .headerText h2 {
    margin: 0;
    font-size: 1.7rem;
    white-space:nowrap;
    font-family: 'Montserrat', sans-serif;
  }
/* 
  .headerText .smallFont {
    font-size: 1.2rem;
  } */
  
  .card h2,
  .card p {
    margin: 0;
  }

  .image img {
    max-width: 100%;
    max-height: 100%;
    max-width: 240px;
    width: 230px, auto;
    height: 230px;
  }
  
  .card img {
    object-fit: cover;
  }

  .summary {
    padding: 1rem 1rem 0 1rem;
    font-size: 1.5rem;
  }

  .summary p {
    font-weight: bolder;
    font-size: 1.5rem;
  }
  .cta a {
    float: right;
    margin-right: 7rem;
    margin-bottom: 6rem;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background: linear-gradient(90deg, #0072b2, #56b4e9);
    color: #ffffff;
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
  }

  .ctaBack a {
    float: left;
    margin-left: 7rem;
    margin-bottom: 6rem;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background: linear-gradient(90deg, #0072b2, #56b4e9);
    color: #ffffff;
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
  }
  
  .large{
    font-size: 2rem;

  }
  
  .cta a:hover,
  .cta a:active {
    background: linear-gradient(90deg, #0072b2, #99d2f1);
  }