/* Straight Bar Background for Small Screens */
.straightBar {
  background-image: linear-gradient(#56b4e9, #0072b2);/* Solid blue color */
  height: 200px; /* Adjust height as needed */
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Wavy Background for Larger Screens */
.wavyBackground {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.wavyBackground svg {
  display: block;
  width: 100%;
  height: 100%;
}
